@font-face {
  font-family: bankgothic;
  src: url('assets/fonts/BankGothic-Regular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: bankgothic;
  src: url('assets/fonts/BankGothic-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: ibmplex;
  src: url('assets/fonts/IBMPlexSans-Regular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: ibmplex;
  src: url('assets/fonts/IBMPlexSans-Bold.ttf');
  font-weight: 700;
}