html, body {
  margin: 0;
  padding: 0;
}


html, body, section, div, h1, h2, h3, h4, h5, a, p {
  font-family: 'ibmplex';
}

html, body, section, div, h5, a, p {
  font-size: 14px;
  line-height: 21px;
}

p, li, ul, ol {
  padding: 0;
  margin: 0;
}

input[type="text"], input[type="date"], select.form-control  {
  height: 44px;
  font-size: 14px;
  border-radius: 6px;
}

textarea {
  height: 44px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
}

a {
  color: #8F23B3;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.font-14 {
  font-size: 14px;
  line-height: 21px;
}

.font-14-lg {
  font-size: 14px;
  line-height: 24px;
}

.font-16 {
  font-size: 16px;
  line-height: 24px;
}

.font-21 {
  font-size: 21px;
  line-height: 28px;
}

.font-24 {
  font-size: 24px;
  line-height: 32px;
}

.font-32 {
  font-size: 32px;
  line-height: 40px;
}

.font-40 {
  font-size: 40px;
  line-height: 48px;
}

.font-48 {
  font-size: 48px;
  line-height: 56px;
}

.font-56 {
  font-size: 56px;
  line-height: 64px;
}

.font-64 {
  font-size: 64px;
  line-height: 72px;
}

.font-72 {
  font-size: 72px;
  line-height: 80px;
}

.lh1 {
  line-height: 1em;
}

.lh1_5 {
  line-height: 1.5em;
}

.text-white {
  color: white;
}

.text-tgrey {
  color: grey;
}

.text-tblue {
  color: #2F80ED;
}

.text-tteal {
  color: #06CD9D;
}

.text-tpurple {
  color: #722ED1;
}

.text-tindigo {
  color: #2F0E8D;
}

.text-copy-0 {
  color: #a0a0a0;
}

.text-copy-1 {
  color: #727272;
}

.text-copy-2 {
  color: #202020;
}

.text-300 {
  font-weight: 300;
}

.text-700 {
  font-weight: 700;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-space-wide {
  letter-spacing: 1.5;
}

.text-display {
  font-family: 'bankgothic';
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
  line-height: 48px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

.display-none {
  display: none;
}

.opacity-50 {
  opacity: 0.5;
}

.display-inline-block {
  display: inline-block;
}

.m0 {
  margin: 0;
}

.m8 {
  margin: 8px;
}

.m16 {
  margin: 16px;
}

.m24 {
  margin: 24px;
}

.m32 {
  margin: 32px;
}

.m40 {
  margin: 40px;
}

.m48 {
  margin: 48px;
}

.m56 {
  margin: 56px;
}

.m64 {
  margin: 64px;
}

.mb0 {
  margin-bottom: 0;
}

.mb8 {
  margin-bottom: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb32 {
  margin-bottom: 32px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb48 {
  margin-bottom: 48px;
}

.mb56 {
  margin-bottom: 56px;
}

.mb64 {
  margin-bottom: 64px;
}

.mb80 {
  margin-bottom: 80px;
}

.mt0 {
  margin-top: 0;
}

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mt24 {
  margin-top: 24px;
}

.mt32 {
  margin-top: 32px;
}

.mt40 {
  margin-top: 40px;
}

.mt48 {
  margin-top: 48px;
}

.mt56 {
  margin-top: 56px;
}

.mt64 {
  margin-top: 64px;
}

.mt72 {
  margin-top: 72px;
}

.mt80 {
  margin-top: 80px;
}

.ml0 {
  margin-left: 0;
}

.ml8 {
  margin-left: 8px;
}

.ml16 {
  margin-left: 16px;
}

.ml24 {
  margin-left: 24px;
}

.ml32 {
  margin-left: 32px;
}

.ml40 {
  margin-left: 40px;
}

.ml48 {
  margin-left: 48px;
}

.ml56 {
  margin-left: 56px;
}

.ml64 {
  margin-left: 64px;
}

.mr0 {
  margin-right: 0;
}

.mr8 {
  margin-right: 8px;
}

.mr12 {
  margin-right: 16px;
}

.mr16 {
  margin-right: 16px;
}

.mr24 {
  margin-right: 24px;
}

.mr32 {
  margin-right: 32px;
}

.mr40 {
  margin-right: 40px;
}

.mr48 {
  margin-right: 48px;
}

.mr56 {
  margin-right: 56px;
}

.mr64 {
  margin-right: 64px;
}

.p0 {
  padding: 0;
}

.p8 {
  padding: 8px;
}

.p16 {
  padding: 16px;
}

.p24 {
  padding: 24px;
}

.p32 {
  padding: 32px;
}

.p40 {
  padding: 40px;
}

.p48 {
  padding: 48px;
}

.p56 {
  padding: 56px;
}

.p64 {
  padding: 64px;
}

.pb0 {
  padding-bottom: 0;
}

.pb8 {
  padding-bottom: 8px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb24 {
  padding-bottom: 24px;
}

.pb32 {
  padding-bottom: 32px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb48 {
  padding-bottom: 48px;
}

.pb56 {
  padding-bottom: 56px;
}

.pb64 {
  padding-bottom: 64px;
}

.pt0 {
  padding-top: 0;
}

.pt8 {
  padding-top: 8px;
}

.pt16 {
  padding-top: 16px;
}

.pt24 {
  padding-top: 24px;
}

.pt32 {
  padding-top: 32px;
}

.pt40 {
  padding-top: 40px;
}

.pt48 {
  padding-top: 48px;
}

.pt56 {
  padding-top: 56px;
}

.pt64 {
  padding-top: 64px;
}

.pl0 {
  padding-left: 0;
}

.pl8 {
  padding-left: 8px;
}

.pl16 {
  padding-left: 16px;
}

.pl24 {
  padding-left: 24px;
}

.pl32 {
  padding-left: 32px;
}

.pl40 {
  padding-left: 40px;
}

.pl48 {
  padding-left: 48px;
}

.pl56 {
  padding-left: 56px;
}

.pl64 {
  padding-left: 64px;
}

.pr0 {
  padding-right: 0;
}

.pr8 {
  padding-right: 8px;
}

.pr16 {
  padding-right: 16px;
}

.pr24 {
  padding-right: 24px;
}

.pr32 {
  padding-right: 32px;
}

.pr40 {
  padding-right: 40px;
}

.pr48 {
  padding-right: 48px;
}

.pr56 {
  padding-right: 56px;
}

.pr64 {
  padding-right: 64px;
}

.width-100 {
  width: 100%;
}

.w-24 {
  width: 24px;
}

.inline-block {
  display: inline-block;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.bg-white-opq {
  background-color: rgba(255,255,255,0.12);
}

.bg-ef {
  background-color: #efefef;
}
.bg-fa {
  background-color: #fafafa;
}

.bg-72 {
  background-color: #727272;
}

.border {
  border: 1px solid #dcdcdc;
}

.border-white {
  border-color: white;
}

.border-radius {
  border-radius: 4px;
  overflow: hidden;
}

.border-radius-md {
  border-radius: 8px;
  overflow: hidden;
}

.border-radius-xl {
  border-radius: 24px;
  overflow: hidden;
}
.position-fixed {
 position: fixed;
}

.text-primary {
  color: #8F23B3!important;
} 

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12);
}
.box-shadow-lg {
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.12);
}

.nav-menu-48 {
  line-height: 48px;
  vertical-align: middle;
}

.card {
  background: white;
  border: none;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.12);
}

.card-lg {
  padding: 40px;
}

.card-md {
  padding: 24px;
}

.badge {
  text-transform: uppercase;
}

#side-nav {
  z-index: 2;
  min-height: 100vh;
  width: 208px;
  box-shadow: 4px 0px 8px rgba(0,0,0,0.12);
  background-color: white;
  position: fixed;
}

#main-content {
  background: white;
  margin-left: 208px;
  min-height: 100vh;
}

.form-container {
  width: 50vw;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px;
}

.form-container.form-container-phone {
  min-width: 322px;
  min-height: 691px;
  width: 42vh;
  height: 90vh;
  border-radius: 40px;
  border: 16px solid #202020;
  overflow: scroll;
  padding: 0;
}

.mrt-details-container {
  width: 328px;
  background: rgba(255,255,255,0.3);
}

#mrt-terminal-image, #save {
  transition: all 0.3s ease-in-out;
}

#mrt-terminal-image:hover {
}

#mrt-terminal-image:hover #save {
  transform: rotate(1deg) matrix(1, 0, 0, 1, 773, 0);
}

#mrt-terminal-image:active #sensor {
  fill: #00DD5E;
}

#save:active rect {
}

#claim-result {
  width: 480px;
  height: 100vh;
  overflow: scroll;
}

#navigation-tab li, .nav-links li {
  transition: all 0.3s
}

#navigation-tab li a, .nav-links li a {
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  color: #202020;
  font-size: 14px;
  line-height: 24px;
}

#navigation-tab li:hover, .nav-links li:hover {
  background: #efefef;
}

#navigation-tab li a.active, .nav-links li a.active {
  background: #efefef;
}

#navigation-tab li a.active, .nav-links li a.active {
  font-weight: 700;
  color: #202020;
}

.nav-icon {
  font-size: 24px!important;
  color: #dcdcdc;
}

.phone-navbar {
  height: 72px;
}

input[type="checkbox"] {
  font-size: 16px;
}

.btn {
  transition: 0.3s all;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 300;
  padding: 10.5px 24px;
}

.btn-primary {
  background: #8F23B3;
  border-color: #8F23B3;
}

.btn-primary:hover {
  background: #8F23B3;
  border-color: #8F23B3;
  filter: brightness(80%);
}

.btn-ghost {
  background-color: transparent;
  border: 1px solid #8F23B3;
  color: #8F23B3;
}

.btn-ghost-gray {
  background-color: transparent;
  border: 1px solid #dcdcdc;
  color: #202020;
}

.btn-ghost-tgrey {
  background-color: transparent;
  border: 2px solid grey;
  color: grey;
}

.btn-ghost-white {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-ghost-white:hover {
  background-color: rgba(255,255,255,0.12);
  color: #ffffff;
}

.btn-bg-ef:hover {
  background-color: #EFEFEF;
  color: #ffffff;
}

.form-submit {
  padding-left: 48px;
  padding-right: 48px;
}


.bg-gray-2 {
  background-color: #fafafa;
}

.bg-gray-3 {
  background-color: #efefef;
}

.bg-gray-4 {
  background-color: #DCDCDC;
}

.bg-primary-1 {
  background-color: #8F23B3!important;
}

.bg-primary-2 {
  background: #28ADB4;
}

.bg-tblue {
  background: #2F80ED;
}

.bg-tteal {
  background: #06CD9D;
}

.bg-tpurple {
  background: #722ED1;
}

.bg-tindigo {
  background: #2F0E8D;
}

.bg-tgrey {
  background: grey;
}

.border-left {
  border-left: 1px solid #dcdcdc;
}

.border-top {
  border-top: 1px solid #dcdcdc;
}

.border-bottom {
  border-bottom: 1px solid #dcdcdc;
}

.h-vh {
  height: 100vh;
}

.hidden {
  visibility: hidden;
}

.comment-box {
  display: block;
  width: 100%;
  height: 88px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 16px;
}

.screen-mask {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.input-white {
  background: transparent;
  border: white 2px solid;
  color: white;
}

.input-white option{
  color: #202020;
}

.input-white::placeholder {
  color: white;
}

.input-white:focus {
  background: transparent;
  color: white;
}

.input-white:-internal-autofill-selected {
  background: transparent;
  color: white;
}

#navbar {
  z-index: 2;
}

.cta-caption {
  color: a0a0a0;
  font-size: 10px;
  margin:  0;
  padding:  0;
  margin-top: 8px;
}

.input-with-button button{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;

}

.input-with-button input{
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

}

.cursor-pointer {
  cursor: pointer;
}

#modal-section {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.8);
  z-index: 3;
}

#modal-section video {
  max-width: 90vw;
  max-height: 80vh;
}

#modal-section.open {
  display: inherit;
}

body.modal-open {
  overflow: hidden;
}

.roller {
  position: relative;
}

.rolled {
  position: absolute;
  top: 0;
  left: 0;
}

.rolled,
.rolled .print{
    display: inline-block;
    transition: all 0.2s ease-in-out;
    transform-origin: bottom left;
    opacity: 1;
}

.rolled .print {
  position: absolute;
}

.rolled-under .print {
  transform: translateY(72px); 
  transform: scaleY(1);
  opacity: 0;
}

.rolled-over .print {
  transform: translateY(-72px); 
  transform: scaleY(1);
  opacity: 0;
}

.rolling-banner-header {
  margin-left: -100px;
}

.video-tile {
  position: relative;
  opacity: 0.3;
}

#video-list.enabled .video-tile {
  cursor: pointer;
  opacity: 1;
}

.video-tile .video-thumb {
  height: 200px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#video-list.enabled .video-tile .video-thumb {
}

.video-tile .video-play-mask {
  height: 200px;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s linear;
}
#video-list.enabled .video-tile:hover .video-play-mask {
  opacity: 1;
}

.xs-visible {
  display: none;
}

.video-modal-flex {
  height: 100vh;
}

.video-close-button {
  opacity: 0.5;
  cursor: pointer;
}

.video-close-button:hover {
  opacity: 1;
}

#sticky-footer .sticky-part {
  position: fixed;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .xs-p24 {
    padding: 24px;
  }

  .xs-mt40 {
    margin-top:  40px;
  }  

  .xs-pt0 {
    padding-top:  0px;
  }

  .xs-pt24 {
    padding-top:  24px;
  }

  .xs-pb24 {
    padding-bottom: 24px;
  }

  .xs-font-16 {
    font-size: 16px;
    line-height: 24px;
  }  

  .xs-font-24 {
    font-size: 24px;
    line-height: 32px;
  }  

  .xs-font-32 {
    font-size: 32px;
    line-height: 40px;
  }

  .rolling-banner-header {
    margin-left: 0px;
  }

  .xs-visible {
    display: inherit;
  }

  .xs-hidden {
    display: none;
  }

  .xs-text-center {
    text-align: center;
  }

  #modal-section video {
  max-width: 100vw;
  max-height: 100vh;
  }

}
